# Build
out/
target/
*.class

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Saídas geradas localmente nos testes do Project 07
projects/07/**/*.asm
projects/07/**/*.out
projects/08/**/*.asm
projects/08/**/*.out